/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Base Styles*/
html {
  font-size: 16px;
}
body {
  font-size: 1em;
  font-family: 'Opens Sans', sans-serif;
  font-weight: normal;
  color: #e2e3ed;
}
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #202322;
  font-style: normal;
}
.content-wrapper {
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
}
header figure {
  margin: 0px;
}
figure .logo {
  width: 60%;
  height: auto;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav ul {
  padding: 0;
}
nav ul li, a {
  list-style: none;
  display: inline;
  text-decoration: none;
  text-transform: uppercase; 
  font-size: 1.125em;
  font-weight: bold;
}
h1, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  text-align: left;
  width: 100%
}
#hero-area h1 {
  font-size: 1.875em;
}
h3 {
  font-size: 1.125em;
}
p {
  font-size: 0.875em;
  font-weight: lighter;
}
.contact h3, .social-media h3 {
  text-align: center;
}
.social-media img {
  flex-direction: row;
}
address {
font-style: normal;
font-size: 0.875em;
font-weight: lighter;
}
.copyright {
  width: 100%;
}
/*Home Page*/
#hero-area {
  background: url('../img/hero.jpg') center no-repeat #333;
  background-size: cover;
  height: 500px;
}
aside {
  background-color: #527158;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}
.form-description, .sign-up {
  width: auto;
}
#features {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('../img/features-back.jpg') center no-repeat #333;
  background-size: cover;
}
#features article {
  width: 50%;
  padding: 0px 85px;
}
#features p {
  text-align: center;
}
#reviews {
  background-color: #2a423a;
}
#reviews figure {
  width: 100%;
  margin: 0;
}
#reviews img {
  width: 100%;
}

/*FAQS Page*/
#faq {
  background-color: #527158;
}

/*About Page*/
#mission {
  background-color: #527158;
}
.map-container {
  position: relative;
  padding-bottom: 80%;
  height: 0;
  overflow: hidden;
}
#map iframe {
  position: absolute;
  padding-bottom: 100%;
  top: 0;
  bottom:0;
  width: 100%;
  height: 100%;
}
#contact-section {
  background-color: #2a423a;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet Styles*/
  /**Base Styles**/
  .content-wrapper {
    flex-flow: row wrap;
    padding: 0px 65px;
    justify-content: space-between;
  }
  header {
    padding: 40px 0px;
  }
  header figure {
    margin: 0;
    width: 50%;
  }
  figure .logo {
    width: 100%;
  }
  nav {
  width: 20%;
  }
  footer {
    padding-top: 35px;
  }
  .contact {
    width: 50%;
  }
  .social-media {
    width: 50%;
  }
 .copyright p {
   padding: 0px 200px;
  }

  /**Home**/
  #hero-area h1 {
    font-size: 3em;
  } 
  .form-description, .sign-up {
    width: 40%;
    padding: 50px 0px;
  }
  #features article {
    flex-basis: 20%
  }
  #features, #reviews {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #reviews h1 {
    width: 100%;
  }
  #reviews figure {
    flex-basis: 50%;
  }
  .review {
    flex-basis: 45%;
    margin-left: 20px;
  }
  .review h3 {
    margin-top: 0px;
  }

  /**FAQS**/
  nav ul li {
    font-size: 1em;
  }
  #faq {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  #faq h1 {
    flex-basis: 95%;
  }
  #faq article {
    flex-basis: 45%;
  }
  .question {
    font-weight: normal;
  }
  .answer {
    font-family: 'Poppins', sans-serif;
  }
  /**About**/
  #mission h1 {
    font-size: 2.25em;
  }
  .mission-content {
    width: 45%;
  }
  #mission .mission-content p {
    width: 100%;
  }
  #mission, #contact-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #contact-section h1 {
    font-size: 2.25em;
  }
  .contact-info {
    text-align: left;
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  /*Desktop Styles*/
  /**Base Styles**/
  .content-wrapper {
    padding: 0px 100px;
  }
  header figure {
    width: 45%;
  }
  .header-divider {
    width: 230px;
  }
  nav ul li {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.875em;
  }
  p {
    font-size: 1.3em;
  }
  /**Home**/
  #hero-area h1 {
    font-size: 3.75em;
  }
  .form-description, .sign-up {
    width: 30%;
    padding: 50px 100px;
  }
  #features h1, #reviews h1 {
    font-size: 2.5em;
  }
  #features article {
    flex-basis: 15%;
  }
  /**About**/
  .contact-info {
    width: 33%;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

